.progressbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5vw;
}
.listing {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.95vw;
  letter-spacing: 0.464286px;
  color: #273240;
}

.listing1 {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 24px;
  letter-spacing: 0.464286px;
  color: #273240;
}
.finalcard {
  background-color: #eceff5;
  border-radius: 15px;
  padding: 25px;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.send {
  background-color: #101010;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  letter-spacing: 1.5px;
  color: #ffffff;
  height: 3vw;
  width: 13.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
.sendtext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.1vw;

  letter-spacing: 0.342857px;
  color: #273240;
}
.sendpara {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85vw;
  letter-spacing: 0.428571px;
  color: #404852;
  mix-blend-mode: normal;
  opacity: 0.7;
}
.bu {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boxpot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: -4vw;
  margin-bottom: 1.5vw;
}
.boximage1 {
  width: 5.5vw;
}
.boximage2 {
  width: 7.5vw;
}
.boximage3 {
  width: 4.5vw;
}
.spend {
  font-family: "Baloo";
  font-style: normal;
  font-weight: normal;
  font-size: 1.7vw;
  letter-spacing: 0.333333px;
  color: #262a41;
}
